:root {
    --base-color: #FF0000;
    --secondary-color: #000000;
    --third-color: white;
}

::-webkit-scrollbar {
    width: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.nav__top a {
    text-decoration: none;
    color: var(--third-color);
    height: 88px;
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__top a:hover {
    background: #FFFFFF33;
}

.home {
    height: 100vh;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
}

.header {
    border: var(--third-color) solid 2px 50%;
    border-bottom: 2px solid #FFFFFF33;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    font-family: 'Nunito Sans', sans-serif;
}

.header::before {
    content: "";
    height: 90px;
    width: 100%;
    background: black;
    opacity: 0.5;
    position: absolute;
}

.img-top {
    height: 35px;
    width: 31px;
}

.hero {
    background: url("../images/image.jpg") no-repeat center/cover;
    height: calc(100% - 50px);
    position: relative;
}

.hero::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000000 0 0 no-repeat padding-box;;
    opacity: 0.3;
    position: absolute;
}

.logo__top {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: var(--base-color);
    text-transform: uppercase;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo__top__colour {
    color: var(--third-color);
}

.nav__top {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--third-color);
    z-index: 1;
}

.nav-btn {
    width: 128px;
    height: 88px;
    color: var(--third-color);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 145px);
    gap: 50px;
}

.banner {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: var(--third-color);
    font-size: 90px;
    z-index: 2;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0 3px 6px #00000040;
}

.text-main {
    color: var(--third-color);
    font-size: 16px;
    font-weight: bold;
    z-index: 2;
    position: relative;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: var(--third-color);
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    gap: 25px;
    font-weight: bold;
}

.btn-1, .btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 220px;
    border-radius: 40px;
    background: var(--base-color);
    box-shadow: 0 3px 6px #FF00004D;
    color: var(--third-color);
}

.btn-2 {
    background: var(--third-color);
    color: var(--base-color);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background: var(--base-color);
    border-radius: 50%;
    box-shadow: 0 3px 6px #FF00004D;
    position: absolute;
    top: calc(100vh - 77px);
}


/*BLOG*/


.btn-arrow {
    height: 17px;
    width: 17px;
}

.blog-main {
    padding: 50px 0;

}

.blog-title, .contact-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.blog-title::before, .blog-title::after, .contact-title::after, .contact-title::before {
    content: "";
    height: 3px;
    width: 50px;
    border-radius: 8px;
    background: var(--base-color);
    margin: 16px;
}

.container__article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 16px;
}

.article {
    display: flex;
    flex-direction: column;

}

.img-blog {
    width: 352px;
    height: 234px;
}

.article-title {
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    padding: 24px 0 15px 0;
}

.text-blog {
    font-family: 'Open Sans', sans-serif;
    color: #6A6A6A;
    width: 260px;
    font-size: 14px;
    letter-spacing: 0;
    padding: 0 0 26px 0;
}

.btn-blog, .btn-service {
    text-decoration: none;
    width: 142px;
    height: 40px;
    background: var(--base-color);
    color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}


/*SERVICE */


.service {
    background: #28272C;
}

.service-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    color: var(--third-color);
}

.service-title::before, .service-title::after {
    content: "";
    height: 3px;
    width: 50px;
    border-radius: 8px;
    background: var(--base-color);
    margin: 16px;
}

.container__service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 45px;
}

.img-service {
    width: 170px;
    height: 170px;
}

.service-article-title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 19px;
    color: var(--third-color);
    letter-spacing: 0;
    padding: 15px 0;
}

.service-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #B2B2B2;
    text-align: center;
    letter-spacing: 0;
    padding-bottom: 26px;
}

.article-service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 110px;
}

/*CONTACT*/


.container__contact {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 65px;
    max-width: 904px;
}

.contact-title {
    padding: 65px 0;
}

.input-form, .img-contact {
    width: 50%;
}

.input-contact, .input-contact-message {
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    width: 100%;
    height: 38px;
    padding-left: 12px;
    outline: none;
}

input::placeholder, textarea::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #B2B2B2;
    letter-spacing: 0;
}

input:focus, textarea:focus {
    box-shadow: 0 1px 6px #FF00004D;
    border: var(--base-color) solid 1px;
}

.input-contact-message {
    height: 140px;
    display: flex;
    align-items: flex-start;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #B2B2B2;
}

.text-checkbox {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #B2B2B2;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}


.checkbox {
    appearance: none;
    width: 100px;
    height: 22px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    position: relative;
}


.checkbox:checked::after {
    content: "";
    background: url("../images/Icon Check.svg");
    display: block;
    width: 12px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.checkbox-area {
    display: flex;
    gap:10px;
}

.btn-form {
    text-decoration: none;
    width: 142px;
    height: 40px;
    background: var(--third-color);
    color: var(--base-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    align-self: flex-end;
    border: var(--base-color) solid 1px;
    box-shadow: 0 3px 6px #FF00004D;
}

/*FOOTER*/

.footer-bottom {
    background: #28272C;
    padding: 40px 0;
}

.container__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo__footer {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--base-color);
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 22px;
}

.footer-menu {
    display: flex;
    gap: 141px;
}

.footer-menu-item {
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    line-height: 19px;
}

.footer-menu-item a {
    color: var(--third-color);
}

.footer-submenu {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer-menu-item a:hover {
    color: var(--base-color);
}

.copyright {
    font-size: 12px;
    line-height: 16px;
    color: #D1D1D1;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
}